@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Covered+By+Your+Grace&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --azul-clarito: #15B9D5;
    --rosa-chuli: #DC135F;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    margin-block: 4rem;
}