<!DOCTYPE html>
<html lang="en" class="page">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/comun.css">
    <link rel="stylesheet" href="../public/css/nosotros.css">
    <title>Nosotros</title>
</head>

<body class="page__body">
    <header class="page__header">
        <nav class="page__nav">
            <a href=".." class="nav__logo-link">
                <img src="../public/assets/img/logo.svg" alt="" class="nav__logo-img">
            </a>
            <div class="nav__links">
                <a href="./nosotros.html" class="nav__link">Nosotros</a>
                <a href="./viajes.html" class="nav__link">Viajes</a>
                <a href="./testimonios.html" class="nav__link">Testimonios</a>
            </div>
        </nav>
    </header>

    <main class="page__main">
        <section class="nosotros">
            <figure class="nosotros__img"><img src="../public/assets/img/destinos_paris_ln.jpg" alt=""></figure>
            <article class="nosotros__text">
                <h2 class="text__title">Nosotros</h2>
                <p class="text__paragraph">
                    Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.
                </p>
                <p class="text__paragraph">
                    Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.
                </p>
                <p class="text__paragraph">
                    Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle
                    ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no
                    llamarte Rodrigor.
                </p>
            </article>
        </section>

        <section class="info">
            <article class="info__item">
                <img src="../public/assets/img/icono_seguridad.svg" alt="" class="item__icon">
                <h3 class="item__title">Seguridad</h3>
                <p class="item__text">Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al
                    sircoo se calle ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo
                    trigo por no llamarte Rodrigor.</p>

            </article>
            <article class="info__item">
                <img src="../public/assets/img/icono_destinos.svg" alt="" class="item__icon">
                <h3 class="item__title">Destinos</h3>
                <p class="item__text">Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al
                    sircoo se calle ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo
                    trigo por no llamarte Rodrigor.</p>

            </article>
            <article class="info__item">
                <img src="../public/assets/img/icono_precios.svg" alt="" class="item__icon">
                <h3 class="item__title">Precios</h3>
                <p class="item__text">Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al
                    sircoo se calle ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo
                    trigo por no llamarte Rodrigor.</p>

            </article>
        </section>
    </main>

    <footer class="page__footer">
        <nav class="footer__nav">
            <a href="./nosotros.html" class="nav__link">Nosotros</a>
            <a href="./viajes.html" class="nav__link">Viajes</a>
            <a href="./testimonios.html" class="nav__link">Testimonio</a>
            <p class="nav__copyright">Todos los derechos reservados - <span></span> </p>
        </nav>
    </footer>

    <script src="../js/hero.js" type="module"></script>
</body>

</html>
