<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/comun.css">
    <link rel="stylesheet" href="../public/css/testimonios.css">
    <title>Testimonios</title>
</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <a href=".." class="header__logo">
                <img src="../public/assets/img/logo.svg" alt="" class="header__logo-img">
            </a>
            <div class="header__links">
                <a href="./nosotros.html" class="header__link">Nosotros</a>
                <a href="./viajes.html" class="header__link">Viajes</a>
                <a href="./testimonios.html" class="header__link">Testimonios</a>
            </div>
        </nav>
    </header>

    <main class="main">
        <h2 class="main__title">Testimonios</h2>
        <h3 class="main__subtitle">Lee sobre nuestros clientes y sus experiencias</h3>

        <section class="testimonios">
            <div class="testimonios__list">
                <article class="testimonios__item">
                    <img src="../public/assets/img/quote.jpg" alt="" class="testimonios__image">
                    <p class="testimonios__text">Las mejores vacaciones de mi vida</p>
                    <p class="testimonios__user user">erik</p>
                </article>
                <article class="testimonios__item">
                    <img src="../public/assets/img/quote.jpg" alt="" class="testimonios__image">
                    <p class="testimonios__text">Me encanta viajar, por eso viajo, viajantemente</p>
                    <p class="testimonios__user user">carmen</p>
                </article>
                <article class="testimonios__item">
                    <img src="../public/assets/img/quote.jpg" alt="" class="testimonios__image">
                    <p class="testimonios__text">Tengro frío, necesito un servidor para calentarme</p>
                    <p class="testimonios__user user">eliseo</p>
                </article>
            </div>
            <h2 class="testimonios__form-title">Agrega tu testimonio</h2>

            <form action="" class="testimonios__form">
                <label for="" class="testimonios__label">Nombre</label>
                <input type="text" placeholder="Tu nombre" class="testimonios__input">

                <label for="" class="testimonios__label">Correo</label>
                <input type="text" placeholder="Tu correo" class="testimonios__input">

                <label for="" class="testimonios__label">Mensaje</label>
                <textarea placeholder="Tu mensaje" class="testimonios__textarea"></textarea>

                <input type="submit" value="Enviar Reseña" class="testimonios__submit">
            </form>
        </section>
    </main>

    <footer class="footer">
        <nav class="footer__nav">
            <a href="./nosotros.html" class="footer__link">Nosotros</a>
            <a href="./viajes.html" class="footer__link">Viajes</a>
            <a href="./testimonios.html" class="footer__link">Testimonio</a>
            <p class="footer__rights">Todos los derechos reservados - <span class="footer__year"></span> </p>
        </nav>
    </footer>

    <script src="../js/hero.js" type="module"></script>
</body>

</html>
