<!DOCTYPE html>
<html lang="en" class="page">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/comun.css">
    <link rel="stylesheet" href="../public/css/viajes.css">
    <title>Viajes</title>
</head>

<body class="page__body">
    <header class="page__header">
        <nav class="page__nav page__nav--primary">
            <a href=".." class="page__nav-link page__nav-link--logo">
                <img src="../public/assets/img/logo.svg" alt="" class="page__nav-img">
            </a>
            <div class="page__nav-links">
                <a href="./nosotros.html" class="page__nav-link">Nosotros</a>
                <a href="./viajes.html" class="page__nav-link">Viajes</a>
                <a href="./testimonios.html" class="page__nav-link">Testimonios</a>
            </div>
        </nav>
    </header>

    <main class="page__main">
        <h2 class="page__title">próximos viajes</h2>
        <section class="page__section viajes">
            <article class="viajes__item">
                <img src="../public/assets/img/destinos_roma.jpg" alt="" class="viajes__img">
                <h3 class="viajes__title">Italia</h3>
                <div class="viajes__info">
                    <img src="../public/assets/img/icono_calendario.svg" alt="" class="viajes__icon">
                    <p class="viajes__text">2021-06-24 - 2021-06-24</p>
                </div>
                <div class="viajes__info">
                    <img src="../public/assets/img/icono_disponibles.svg" alt="" class="viajes__icon">
                    <p class="viajes__text">18 Disponibles</p>
                </div>
                <p class="viajes__description infoViaje">Lorem fistrum ese que llega no te digo trigo por no llamarte
                    Rodrigor llevame al
                    sircoo se calle ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo
                    trigo por no llamarte Rodrigor.</p>
                <button class="viajes__button">Más Información</button>
            </article>
            <article class="viajes__item">
                <img src="../public/assets/img/destinos_canada.jpg" alt="" class="viajes__img">
                <h3 class="viajes__title">canada</h3>
                <div class="viajes__info">
                    <img src="../public/assets/img/icono_calendario.svg" alt="" class="viajes__icon">
                    <p class="viajes__text">2021-06-24 - 2021-06-24</p>
                </div>
                <div class="viajes__info">
                    <img src="../public/assets/img/icono_disponibles.svg" alt="" class="viajes__icon">
                    <p class="viajes__text">18 Disponibles</p>
                </div>
                <p class="viajes__description infoViaje">Lorem fistrum ese que llega no te digo trigo por no llamarte
                    Rodrigor llevame al
                    sircoo se calle ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo
                    trigo por no llamarte Rodrigor.</p>
                <button class="viajes__button">Más Información</button>
            </article>
            <article class="viajes__item">
                <img src="../public/assets/img/destinos_grecia.jpg" alt="" class="viajes__img">
                <h3 class="viajes__title">Grecia</h3>
                <div class="viajes__info">
                    <img src="../public/assets/img/icono_calendario.svg" alt="" class="viajes__icon">
                    <p class="viajes__text">2021-06-24 - 2021-06-24</p>
                </div>
                <div class="viajes__info">
                    <img src="../public/assets/img/icono_disponibles.svg" alt="" class="viajes__icon">
                    <p class="viajes__text">18 Disponibles</p>
                </div>
                <p class="viajes__description infoViaje">Lorem fistrum ese que llega no te digo trigo por no llamarte
                    Rodrigor llevame al
                    sircoo se calle ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo
                    trigo por no llamarte Rodrigor.</p>
                <button class="viajes__button">Más Información</button>
            </article>
        </section>
    </main>

    <footer class="page__footer">
        <nav class="page__nav page__nav--secondary">
            <a href="./nosotros.html" class="page__nav-link">Nosotros</a>
            <a href="./viajes.html" class="page__nav-link">Viajes</a>
            <a href="./testimonios.html" class="page__nav-link">Testimonio</a>
            <p class="page__nav-text">Todos los derechos reservados - <span></span> </p>
        </nav>
    </footer>

    <script src="../js/hero.js" type="module"></script>
</body>

</html>

